<h2>Employee List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.middleName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>
        {{ employee.emailId }}
      </td>
    </tr>
  </tbody>
</table>
