<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="employees" routerLinkActive="active" class="nav-link"
        >Employee list</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="addemployees" routerLinkActive="active" class="nav-link"
        >Add Employee</a
      >
    </li>
  </ul>
</nav>
<h1 class="text-center">{{ title }}</h1>

<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2021 @MrishaCoder </span>
  </div>
</footer>
