<div class="col-md-8 offset-md-3">
  <h3>Create Employee</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        [(ngModel)]="employee.firstName"
        name="firstName"
      />
    </div>
    <div>
      <label>Middle Name</label>
      <input
        type="text"
        class="form-control"
        id="middleName"
        [(ngModel)]="employee.middleName"
        name="middleName"
      />
    </div>

    <div>
      <label>Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        [(ngModel)]="employee.lastName"
        name="lastName"
      />
    </div>

    <div>
      <label>Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        [(ngModel)]="employee.emailId"
        name="email"
      />
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
